/*
!.config
.config/*
!.config/i3
!.config/gtk-3.0
!.config/alacritty
!.config/lxqt
!.config/fish
!.bashrc
!.gitignore
!.profile
!.vimrc
!.Xmodmap
!.install
!gdMount.sh
!ugdMount.sh
!pdftohtml.sh
!mountUSB.sh
!umountUSB.sh
!fatMount.sh
!uFatMount.sh
!generateMavenProject.sh
!ping.py
