/*
!.config
.config/*
!.config/i3
!.config/gtk-3.0
!.config/alacritty
!.config/lxqt
!.config/fish
!.config/paru
!.config/rofi/config.rasi
!.config/bat/
!.config/helix/
!.bashrc
!.gitignore
!.profile
!.vimrc
!.Xmodmap
!.gdfuse
# !.series
# !installElvUI.sh
!.install
!gdMount.sh
!ugdMount.sh
!pdftohtml.sh
!mountUSB.sh
!umountUSB.sh
!fatMount.sh
!uFatMount.sh
!generateMavenProject.sh
!iso-cat.sh
!replace.sh
!search-and-replace.sh
!ping.py
!pi.ssh
!tar-czf.sh
!tar-xzf.sh
!unzip.sh
!targz.sh
