/*
!.config
.config/*
!.config/i3
!.config/gtk-3.0
!.config/gtk-4.0
!.config/alacritty
!.config/lxqt
!.config/fish
!.config/paru
!.config/rofi/config.rasi
!.config/bat/
!.config/helix/
!.config/xdg-desktop-portal/
!.config/picom.conf
!.config/monitors.xml
!.bashrc
!.gitignore
!.profile
!.vimrc
!.Xmodmap
!.gdfuse
# !.series
# !installElvUI.sh
!.install
!redshift.sh
!gdMount.sh
!ugdMount.sh
!pdftohtml.sh
!mountUSB.sh
!umountUSB.sh
!fatMount.sh
!uFatMount.sh
!generateMavenProject.sh
!iso-cat.sh
!replace.sh
!search-and-replace.sh
!ping.py
.config/helix/runtime
!pi.ssh
!tar-czf.sh
!tar-xzf.sh
!unzip.sh
!targz.sh
!decode-ur-files.sh
!gamer.sh
!tv.sh
!llm.sh
!cheatsheet.txt
.config/fish/fishd.ubuntu-14-04.work
.config/fish/fishd.ur.work
.gdfuse/default/cache
.gdfuse/shared/cache
.gdfuse/shared/gdfuse.log
.gdfuse/shared/state
.gdfuse/default/gdfuse.log
.gdfuse/default/state
.config/fish/fish_history
.config/fish/fishd.ursim.work
.config/gtk-4.0/servers
